<template>
  <div class="dashboard">
    <TableComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import TableComponent from '@/components/TableComponent.vue'

export default {
  name: 'dashboard',
  components: {
    TableComponent
  }
}
</script>

<style scoped>
.dashboard{
  background-color: #9deadd;
  height: 100%;
  width:100%;
  padding-top: 50px;
}
</style>