<template>
  <div class="home">
    <HomeComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import HomeComponent from '@/components/HomeComponent.vue'

export default {
  name: 'home',
  components: {
    HomeComponent
  }
}
</script>

<style scoped>
.home{
  background-color: #9deadd;
  height: 100%;
  width:100%;
}
</style>
