<template>
  <div class="register">
    <FormComponent />
  </div>
</template>

<script>
// @ is an alias to /src
import FormComponent from '@/components/FormComponent.vue'

export default {
  name: 'register',
  components: {
    FormComponent
  }
}
</script>

<style scoped>
.register{
  background-color: #9deadd;
  height: 100%;
  width:100%;
  padding-top: 150px;
}
</style>

