<template>
  <div class="container">
    <form>
      <v-text-field
        v-model="user.name"
        v-validate="'required|max:120'"
        :error-messages="errors.collect('name')"
        label="Name"
        data-vv-name="name"
        required
      ></v-text-field>
      <v-text-field
        v-model="user.lastname"
        v-validate="'required|max:120'"
        :error-messages="errors.collect('lastname')"
        label="Last Name"
        data-vv-name="lastname"
        required
      ></v-text-field>
      <v-text-field
        v-model="user.email"
        v-validate="'required|email|max:70'"
        :error-messages="errors.collect('email')"
        label="E-mail"
        data-vv-name="email"
        required
      ></v-text-field>
      <v-text-field
        type="password"
        v-model="user.password"
        v-validate="'required|min:8|number|letter'"
        :error-messages="errors.collect('password')"
        label="Password"
        data-vv-name="password"
        ref="password"
        required
      ></v-text-field>
      <v-text-field
        type="password"
        v-model="user.confirmPassword"
        v-validate="'required|confirmed:password|min:8'"
        :error-messages="errors.collect('confirmPassword')"
        label="Confirm Password"
        data-vv-name="confirmPassword"
        required
      ></v-text-field>
      <v-text-field
        v-model="user.phone"
        v-validate="'numeric'"
        :error-messages="errors.collect('phone')"
        label="Phone"
        data-vv-name="phone"
        required
      ></v-text-field>
      <v-checkbox
        v-model="user.checkbox"
        v-validate="'required'"
        :error-messages="errors.collect('checkbox')"
        value="1"
        label="Terms and Conditions"
        data-vv-name="checkbox"
        type="checkbox"
        required
      ></v-checkbox>

      <v-btn @click="submit">submit</v-btn>
      <v-btn  to="/">Cancel</v-btn>
    </form>
  </div>
</template>

<script>
  import UserService from '../service/UserService'
  
  export default {
      name: 'formComponent',
      $_veeValidate: {
        validator: 'new'
      },

      data () {
        return {
          user: {
            name: '',
            lastname: '',
            email: '',
            password: '',
            confirmPassword: '',
            phone: '',
            checkbox: null
          }
          
        }
      },
      created() {
          this.$validator.extend('letter', {
          getMessage: () => "Must contain at least one letter",
          validate: value => value.match(/[a-zA-Z]/g) !== null
        })
          this.$validator.extend('number', {
          getMessage: () => "Must contain at least one number",
          validate: value => value.match(/[0-9]/g) !== null
        })
        const dict = {
          custom: {
            password: {
              required: () => 'The password is required must be min 8 characters and to containat least 1 letter and 1 number'
            }
          }     
        };

        this.$validator.localize('en', dict);
      },

      mounted () {
        this.$validator.localize('en', this.dictionary)
      },

      methods: {
        submit () {
          this.$validator.validateAll().then((isValid) => {
            if (isValid) {
              let userService = UserService.getInstance()
              let { name, lastname, email, password, phone } = this.user
              userService.add(name, lastname, email, password, phone)
              this.$router.push('dashboard')
            }
          })
        }
      }
    }
</script>

<style scoped>
.container{
  max-width:400px;
  background-color:white;
}
</style>
