<template>
  <div class="container">
    <div>
      <v-btn to="/">Back to Home page</v-btn>
    </div>
    <h1> DASHBOARD</h1>
    <v-data-table
      :items="contacts"
      class="elevation-1"
      hide-actions
      hide-headers
    >
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.lastname }}</td>
        <td>{{ props.item.email }}</td>
        <td>{{ props.item.phone }}</td>
      </template>
    </v-data-table>
  </div>
</template>

<script>
  import UserService from '../service/UserService'
  export default {
    name: 'tableComponent',
    data () {
      return {
        contacts: []
      }
    },
    mounted() {
      this.getUsers()
    },
    methods: {
      getUsers() {
        let userService = UserService.getInstance()
        this.contacts = userService.getList()
      }
    }
  }
</script>

<style scoped>
h1{ 
  text-align:center;
  padding:30px 0;
  }
</style>
